<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.karimoff.me">
                <div class="logo-container">
                    <div class="logo">
                        <img src="./assets/img/logo.png" alt="Travel Logo" rel="tooltip"
                             title="<b>Travel</b> was Designed & Coded with care by <b>Karimoff</b>"
                             data-placement="bottom" data-html="true">
                    </div>
                    <a href="/">
                        <div class="brand">Travel</div>
                    </a>
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/categories">
                        <i class="material-icons">view_list</i> Categories
                    </a>
                </li>
                <li>
                    <a href="#"
                       target="_blank">
                        <i class="material-icons">favorite</i> Volunteer
                    </a>
                </li>
                <li>
                    <a href="#"
                       target="_blank">
                        <i class="material-icons">account_box</i> Profile
                    </a>
                </li>
                <li>
                    <a rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
                       href="https://twitter.com/MrBrownWins" target="_blank"
                       class="btn btn-white btn-simple btn-just-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                       href="https://www.facebook.com/mukarimov" target="_blank"
                       class="btn btn-white btn-simple btn-just-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                       href="https://www.instagram.com/mrbrownwins" target="_blank"
                       class="btn btn-white btn-simple btn-just-icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
