<app-navbar></app-navbar>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.karimoff.me">
                        Mukhammad Karimov
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2017, made with <i class="material-icons">favorite</i> by Mukhammad for a better web.
        </div>
    </div>
</footer>
