<div class="wrapper">

    <div class="main main-raised">

        <div class="space-50"></div>

        <div class="section section-examples">
            <div class="container-fluid text-center">
                <div class="section text-center section-landing">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Let's talk product</h2>
                            <h5 class="description">This is the paragraph where you can write more details about your
                                product. Keep you user engaged by providing meaningful information. Remember that by
                                this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button
                                if you want the user to see more.</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" target="_blank">
                            <img src="./assets/img/bg.jpg" alt="Rounded Image"
                                 class="img-rounded img-raised img-responsive">
                            <button class="btn  btn-simple btn-primary btn-lg">View Landing Page</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" target="_blank">
                            <img src="./assets/img/bg.jpg" alt="Rounded Image"
                                 class="img-rounded img-raised img-responsive">
                            <button class="btn btn-simple btn-primary btn-lg">View Profile Page</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" target="_blank">
                            <img src="./assets/img/bg.jpg" alt="Rounded Image"
                                 class="img-rounded img-raised img-responsive">
                            <button class="btn btn-simple btn-primary btn-lg">View Profile Page</button>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="#" target="_blank">
                            <img src="./assets/img/bg.jpg" alt="Rounded Image"
                                 class="img-rounded img-raised img-responsive">
                            <button class="btn  btn-simple btn-primary btn-lg">View Landing Page</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" target="_blank">
                            <img src="./assets/img/bg.jpg" alt="Rounded Image"
                                 class="img-rounded img-raised img-responsive">
                            <button class="btn btn-simple btn-primary btn-lg">View Profile Page</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" target="_blank">
                            <img src="./assets/img/bg.jpg" alt="Rounded Image"
                                 class="img-rounded img-raised img-responsive">
                            <button class="btn btn-simple btn-primary btn-lg">View Profile Page</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

